<div fxLayout="column" style="background: #e6e6e6; height: 100vh;" fxShow.xl fxShow.lg fxShow.md fxHide.sm fxHide.xs>
	<nav class="flex items-center justify-between flex-wrap p-4" style="background: white; height: 12vh;">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<a class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"
				(click)="evtEmit.loadDashboard()" style="cursor: pointer;">
				<img class="w-40 h-12" src="/images/Logo_Black.png" alt="">
			</a>
		</div>
		<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
			<div class="text-sm lg:flex-grow" fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: -2rem;">
				<a class="block lg:inline-block lg:mt-0 w-32 margin-bottom: 7%; font-bold text-base text-center p-2 pt-0 text-black focus:outline-none hover:text-black border-btm"
					(click)="evtEmit.loadDashboard()" style="cursor: pointer; height: 7vh;">
					Dashboard
				</a>
				<a class="block lg:inline-block lg:mt-0 w-32 margin-bottom: 7%; font-bold text-base text-center p-2 pt-0 text-black focus:outline-none hover:text-black border-btm"
					(click)="evtEmit.loadAnalytics()" style="cursor: pointer; height: 7vh;">
					Analytics
				</a>
				<a class="block lg:inline-block lg:mt-0 w-32 margin-bottom: 7%; font-bold text-base text-center p-2 pt-0 text-black focus:outline-none hover:text-black border-btm"
					(click)="evtEmit.loadTemplate()" style="cursor: pointer; height: 7vh;">
					Templates
				</a>
			</div>
			<div fxLayout="row" fxLayoutAlign="space-between center">

				<a matTooltip="FAQ" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black" (click)="evtEmit.loadFaq()"
					style="cursor: pointer; border-color: #ffffff40; padding-left: 2%; width: 4rem;">
					<img src="/images/Dashboard_1.png" alt="" style="width: 20px; height:20px">

				</a>
				<a matTooltip="Bulk email upload" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black"
					(click)="evtEmit.laodUpload()"
					style="cursor: pointer; border-color: #ffffff40; padding-left: 2%; width: 4rem">
					<img src="/images/Dashboard_2.png" alt="" style="width: 20px; height:20px">

				</a>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<a class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black"
					style="cursor: pointer; border-color: #ffffff40; padding-left: 1%; width: 4rem;">
					<span
						style="width: 2.5rem; height: 2.5rem; padding: 0.6rem 0.8rem; border: 1px solid #21b25b; border-radius: 50%; background-color: #21b25b; color: white;">
						{{user_first_letter}}
					</span>
				</a>
				<div class="dropdown">
					<button class="dropbtn font-semibold text-lg text-center p-2 pt-0 text-gray-600"
						(click)="openDropDown()" style="text-transform: capitalize;">

						{{user_name}}
						<fa name="caret-down" class="down_arrow"></fa>
					</button>
					<div class="dropdown-content text-gray-600" id="#profile">
						<a href="/users/sign_out">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="row banner-sec">
		<div class="row">
			<div class="bg_img"></div>
		</div>
		<div fxLayout="row" class="inner-div text-white">
			<div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="5"></div>
			<div fxFlex.xl="80" fxFlex.lg="80" fxFlex.md="90" class="banner-info">
				<div class="text-left p-6 pb-20">
					<span class="font-bold text-4xl text-white ">
						History
					</span>
				</div>
				<div class="row">
					<div class="bg-white card" style="padding: 2rem 1.5rem 2rem 1.5rem; margin-bottom: 1rem">
						<div fxLayout="row" fxLayoutAlign="space-between center">
							<div fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
								<span class="font-bold text-base text-black">
									All History ({{hisSurList.length}})
								</span>
							</div>
							<div fxFlex="60" fxLayout="row" fxLayoutAlign="start center"
								style="width: 95%; height: 5vh; border: 1px solid #e6e6e6; padding: 1rem;">
								<input type="text" placeholder="Search Survey" [(ngModel)]="txt_search"
									class="text-base text-black w-full">
								<span style="font-size: 1.5em; color: #e6e6e6;">
									<i class="fa fa-search"></i>
								</span>
							</div>
							<div fxFlex="20" fxLayout="row" fxLayoutAlign="end center">
								<span class="font-bold text-base text-black">
									Sort:
								</span>
								<select [(ngModel)]="txt_sort" class="text-black text-sm p-2">
									<option value="created_at">Date</option>
									<option value="survey_name">Survey Name</option>
								</select>
							</div>
						</div>
						<div class="mt-4" *ngFor="let sur of pagedItems |filter: txt_search |sort: txt_sort">
							<fieldset style="background-color: #f6f6f6;">
								<div fxLayout="row" fxLayoutAlign="center center"
									style="margin: 0.5rem 0rem 0.5rem 1rem;">
									<div fxFlex="40">
										<p class="font-semibold text-base text-black">
											{{sur.survey_name}}
										</p>
										<p class="text-base text-black">
											Created: {{sur.created_at | date: 'mediumDate'}}
										</p>
									</div>
									<div fxFlex="15" class="text-center" style="border-right: 1px solid #21b25b">
										<div *ngIf="(sur.no_question)">
											<p style="color: #21b25b" class="text-base text-black">
												{{sur.no_question}}
											</p>
											<p class="text-sm text-black">
												Questions
											</p>
										</div>
										<div *ngIf="(! sur.no_question)">
											<p style="color: #21b25b" class="text-base text-black">
												0
											</p>
											<p class="text-sm text-black">
												Questions
											</p>
										</div>
									</div>
									<div fxFlex="15" class="text-center"
										style="border-right: 1px solid #21b25b; cursor: pointer;"
										(click)="loadAnalyse(sur.id)">
										<mat-icon svgIcon="analyse"
											style="cursor: pointer; width: 18px; height: 18px; color: black">
										</mat-icon>
										<p class="text-sm text-black" style="cursor: pointer;">
											Analyze
										</p>
									</div>
									<div fxFlex="15" class="text-center"
										style="border-right: 1px solid #21b25b; cursor: pointer;"
										(click)="loadShare(sur.id)">
										<mat-icon svgIcon="share"
											style="cursor: pointer; width: 18px; height: 18px; color:black">
										</mat-icon>
										<p class="text-sm text-black" style="cursor: pointer;">
											Share
										</p>
									</div>
									<div fxFlex="15" class="text-center" style="cursor: pointer;"
										(click)="loadEdit(sur.id, sur.expires_at)">
										<mat-icon svgIcon="edit"
											style="cursor: pointer; width: 18px; height: 18px; color: black">
										</mat-icon>
										<p class="text-sm text-black" style="cursor: pointer;">Edit</p>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="mt-4" fxLayout="row" fxLayoutAlign="end center" *ngIf="hisSurList.length > 10">
							<!-- pager -->
							<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
								<li [ngClass]="{disabled:pager.currentPage === 1}">
									<a (click)="setPage(1)">First</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === 1}">
									<a (click)="setPage(pager.currentPage - 1)">Previous</a>
								</li>
								<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
									<a (click)="setPage(page)">{{page}}</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.currentPage + 1)">Next</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.totalPages)">Last</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div fxLayout="row" class="py-8 text-black">
					<div fxFlex="70">
						<p class="text-xs text-left m-2" style="margin-left: 0px !important">
							Copyright &copy; 2013-2019 Sun Plus Software Technologies Pvt Ltd. All rights reserved.
						</p>
					</div>
					<div fxFlex="30" class="text-right">
						<a (click)="evtEmit.loadPrivatePolicy()" class="pr-2 pl-2 text-xs"
							style="cursor: pointer; border-right: 1px solid #21b25b;">Cookies & Privacy
						</a>
						<a (click)="evtEmit.loadFaq()" class="pr-2 pl-2 text-xs" style="cursor: pointer;">Help
						</a>
					</div>
				</div>
			</div>
			<div fxFlex.xl="15" fxFlex.lg="15" fxFlex.md="5"></div>
		</div>
	</div>
	<div class="popup" *ngIf="!isShowEditSur" fxLayout="column" fxLayoutAlign="center center" style="width: 35vw;">
		<div class="w3-modal-content" style="background-color: white !important; z-index: 1; width: 35vw !important;">
			<div class="w-full">
				<span class="w3-button rounded" (click)="closeEditSurvey()"
					style="background: #21b25b; padding: 5px 11px;!important; border-radius: 50%; right: -32px; top: -19px; position: absolute;">&times;</span>
				<div fxLayout="row">
					<div class="w-full">
						<div fxLayout="row" fxLayoutAlign="space-between center" class="m-8">
							<div fxFlex="5"></div>
							<div fxFlex="90">
								<div class="mb-8">
									<!--<p class="font-bold text-2xl  text-black mb-2">
										Survey Expire date
									</p>
									<hr>
									<input
										class="appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
										type="date" name="dateofbirth" id="dateofbirth" placeholder="Select end date"
										[min]="minDate" style="background-color: #f6f6f6;" [(ngModel)]="dtp_sur_expire" onkeydown="return false">-->
										<input [(ngModel)]="dtp_sur_expire"
			                           [min]="minDate" [owlDateTimeTrigger]="dt11" [owlDateTime]="dt11"
			                           #dateTime="ngModel" placeholder="Select feedback form expire date" class="appearance-none w-full py-2 px-3 text-base text-black focus:outline-none"  style="background-color: #f6f6f6;" onkeydown="return false">
			                    		<owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
								</div>
								<div class="flex items-center">
									<div class="flex-1 text-center">

									</div>
									<div class="flex-1 text-center">
										<button
											class="text-white text-base py-2 px-4 rounded-lg m-2 h-12 w-48 focus:outline-none"
											style="background-color: #21b25b; border-radius: 25px;" type="button"
											(click)="updateSurvey();">
											Update Survey
										</button>
									</div>
									<div class="flex-1 text-center">

									</div>
								</div>
							</div>
							<div fxFlex="5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div fxLayout="column" style="background: #e6e6e6;" fxHide.xl fxHide.lg fxHide.md fxShow.sm fxShow.xs>
	<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;" id="mySidebar">
		<!-- <button class="w3-bar-item w3-button w3-large" (click)="evtEmit.w3_close()"
			style="text-align: center">{{user_name}} &nbsp; &times;</button>
		<a (click)="evtEmit.loadDashboard()" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">
			Dashboard
		</a> -->
		<span style="float: right;font-size:24px;padding-right:1rem; cursor: pointer;"(click)="evtEmit.w3_close()">&nbsp; &emsp; &nbsp; &nbsp;&times;</span>
		<div class="w3-bar-item w3-button w3-large" 
			style="text-align: center;color: #21b25b;">{{user_name}} </div>
		<a (click)="evtEmit.loadDashboard()" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">
			Dashboard
		</a>
		<a (click)="evtEmit.loadAnalytics()" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">
			Analytics
		</a>
		<a (click)="evtEmit.loadTemplate()" class="w3-bar-item w3-button"
	      style="text-align: center; padding: 0.5rem 2rem;">
	      Template
	    </a>
		<a (click)="evtEmit.loadFaq()" class="w3-bar-item w3-button" style="text-align: center; padding: 0.5rem 2rem;">
			FAQ
		</a>
		<a (click)="evtEmit.laodUpload();" class="w3-bar-item" style="text-align: center; padding: 0.5rem 2rem;">
			Bulk Email Upload
		</a>
		<a href="/users/sign_out" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">Logout</a>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between center" class="bg-white" style="height: 14vh;">
		<div fxFlex="2"></div>
		<div fxFlex="16">
			<button class="w3-button w3-white w3-xlarge" (click)="evtEmit.w3_open()">&#9776;</button>
		</div>
		<div fxFlex="84" fxLayout="row" fxLayoutAlign="center center">
			<a class="block lg:inline-block lg:mt-0 text-teal-200 hover:text-white" (click)="evtEmit.loadDashboard()"
				style="cursor: pointer;">
				<img class="w-40 h-12" src="/images/Logo_Black.png" alt="">
			</a>
		</div>
		<div fxFlex="2"></div>
	</div>
	<div class="row banner-sec">
		<div class="row">
			<div class="bg_img"></div>
		</div>
		<div fxLayout="row" class="inner-div text-white">
			<div fxFlex.xl="15" fxFlex.lg="15" fxFlex.md="5"></div>
			<div fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="90" class="banner-info">
				<div class="text-center p-6 pb-20">
					<span class="font-bold text-4xl text-white ">
						History
					</span>
				</div>
				<div class="row">
					<div fxFlex="6"></div>
					<div fxFlex="88">
						<div class="bg-white rounded card" style="padding: 2rem 1rem 2rem 1rem; margin-bottom: 1rem">
							<span class="font-bold text-base text-black">
								All Survey ({{hisSurList.length}})
							</span>
							<div fxLayout="row"
								style="width: 100%; border: 1px solid #e6e6e6; padding: 0rem 1rem; margin: 1rem 0rem;">
								<input type="text" placeholder="Search Survey" [(ngModel)]="txt_search"
									class="text-base text-black w-full focus:outline-none">
								<span style="font-size: 1.5em; color: #e6e6e6;">
									<i class="fa fa-search"></i>
								</span>
							</div>
							<div fxLayout="row" style="margin: 0rem 0rem 0rem 0rem;">
								<span class="font-bold text-base text-black">
									Sort:
								</span>
								<select [(ngModel)]="txt_sort" class="text-black text-sm p-2 focus:outline-none"
									style="width: 100%; margin-left: 1rem; border: 1px solid rgb(230, 230, 230);">
									<option value="created_at">Date</option>
									<option value="survey_name">Survey Name</option>
								</select>
							</div>
							<div class="mt-4" *ngFor="let sur of pagedItems |filter: txt_search |sort: txt_sort">
								<fieldset style="background-color: #f6f6f6;">
									<div fxLayout="column" style="margin: 0.5rem 0rem 0.5rem 0rem;">
										<div>
											<p class="font-semibold text-base text-black">
												{{sur.survey_name}}
											</p>
											<p class="text-base text-black">
												Created: {{sur.created_at | date: 'mediumDate'}}
											</p>
										</div>
										<div>
											<div fxLayout="row" style="padding-top: 1rem">
												<div fxFlex="33" fxLayoutAlign="center center"
													style="border-left: 1px solid #21b25b;">
													<span style="cursor: pointer;" (click)="loadAnalyse(sur.id)">
														<mat-icon svgIcon="analyse"
															style="cursor: pointer; width: 18px; height: 18px; color: black">
														</mat-icon>
													</span>
												</div>
												<div fxFlex="33" fxLayoutAlign="center center"
													style="border-left: 1px solid #21b25b; border-right:1px solid #21b25b">
													<span style="cursor: pointer;" (click)="loadShare(sur.id)">
														<mat-icon svgIcon="share"
															style="cursor: pointer; width: 18px; height: 18px; color:black">
														</mat-icon>
													</span>
												</div>
												<div fxFlex="33" fxLayoutAlign="center center"
													style="border-right:1px solid #21b25b; cursor: pointer;"
													class="text-center" (click)="loadEdit(sur.id, sur.expires_at)">
													<span style="cursor: pointer;">
														<mat-icon svgIcon="edit"
															style="cursor: pointer; width: 18px; height: 18px; color: black">
														</mat-icon>
													</span>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="mt-4" fxLayout="row" fxLayoutAlign="center center" *ngIf="hisSurList.length > 10">
								<!-- pager -->
								<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
									<li [ngClass]="{disabled:pager.currentPage === 1}">
										<a (click)="setPage(1)">First</a>
									</li>
									<li [ngClass]="{disabled:pager.currentPage === 1}">
										<a (click)="setPage(pager.currentPage - 1)">Previous</a>
									</li>
									<li *ngFor="let page of pager.pages"
										[ngClass]="{active:pager.currentPage === page}">
										<a (click)="setPage(page)">{{page}}</a>
									</li>
									<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
										<a (click)="setPage(pager.currentPage + 1)">Next</a>
									</li>
									<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
										<a (click)="setPage(pager.totalPages)">Last</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div fxFlex="6"></div>
				</div>

				<div fxLayout="column" fxLayoutAlign="center center"
					style="height: 15vh; width: 100vw; margin-bottom: 2rem;">
					<div fxLayout="row" fxLayoutAlign="center center">
						<p class="text-xs text-black text-center m-2 ml-4 mr-4">
							Copyright &copy; 2013-2019 Sun Plus Software Technologies Pvt Ltd. All rights reserved.
						</p>
					</div>
					<div class="text-black" fxLayout="row" fxLayoutAlign="center center">

						<a (click)="evtEmit.loadPrivatePolicy()" class="pr-2 pl-2 text-xs text-black-500;"
							style="cursor: pointer; border-right:1px solid #21b25b">Cookies &
							Privacy</a>
						<a class="pr-2 pl-2 text-xs text-black-500" (click)="evtEmit.loadFaq()"
							style="cursor: pointer;">Help</a>
					</div>
				</div>
			</div>
			<div fxFlex.xl="15" fxFlex.lg="15" fxFlex.md="5"></div>
		</div>
	</div>
	<div class="popup" *ngIf="!isShowEditSur" fxLayout="column" fxLayoutAlign="center center" style="width: 90vw">
		<div class="w3-modal-content" style="background-color: white !important; z-index: 1; width:275px !important">
			<div class="w-full">
				<span class="w3-button rounded" (click)="closeEditSurvey()"
					style="background: #21b25b; padding: 5px 11px;!important; border-radius: 50%; right: -32px; top: -19px; position: absolute;">&times;</span>
				<div fxLayout="row">
					<div class="w-full">
						<div fxLayout="row" fxLayoutAlign="space-between center" class="m-8">
							<div fxFlex="5"></div>
							<div fxFlex="90">
								<div class="mb-8">
									<p class="font-bold text-2xl  text-black mb-2">
										Survey Expire date
									</p>
									<hr>
									<input
										class="appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
										type="date" name="dateofbirth" id="dateofbirth" placeholder="Select end date"
										[min]="minDate" style="background-color: #f6f6f6;" [(ngModel)]="dtp_sur_expire" onkeydown="return false">
								</div>
								<div class="flex items-center">
									<div class="flex-1 text-center">

									</div>
									<div class="flex-1 text-center">
										<button
											class="text-white text-base py-2 px-4 rounded-lg m-2 h-12 w-48 focus:outline-none"
											style="background-color: #21b25b; border-radius: 25px;" type="button"
											(click)="updateSurvey();">
											Update Survey
										</button>
									</div>
									<div class="flex-1 text-center">

									</div>
								</div>
							</div>
							<div fxFlex="5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup" *ngIf="!isShwSpinner" style="width: 4rem; height: 5rem">
	<img src="/images/loading.gif" alt="" width="300px" height="300px" style="z-index: 1">
</div>
