<div fxLayout="column" style="background: #e6e6e6; height: 100vh;" fxShow.xl fxShow.lg fxShow.md fxHide.sm fxHide.xs>
	<nav class="flex items-center justify-between flex-wrap p-4" style="background: white; height: 12vh;">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<a class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" (click)="evtEmit.loadDashboard()"
				style="cursor: pointer;">
				<img class="w-40 h-12" src="/images/Logo_Black.png" alt="">
			</a>
		</div>
		<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
			<div class="text-sm lg:flex-grow" fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: -2rem;">
				<a class="block lg:inline-block lg:mt-0 w-32 margin-bottom: 7%; font-bold text-base text-center p-2 pt-0 text-black focus:outline-none hover:text-black border-btm"
					(click)="evtEmit.loadDashboard()" style="cursor: pointer; height: 7vh;">
					Dashboard
				</a>
				<a class="block lg:inline-block lg:mt-0 w-32 margin-bottom: 7%; font-bold text-base text-center p-2 pt-0 text-black focus:outline-none hover:text-black border-btm"
					(click)="evtEmit.loadAnalytics()" style="cursor: pointer; height: 7vh;">
					Analytics
				</a>
				<a class="block lg:inline-block lg:mt-0 w-32 margin-bottom: 7%; font-bold text-base text-center p-2 pt-0 text-black focus:outline-none hover:text-black border-btm"
					(click)="evtEmit.loadTemplate()" style="cursor: pointer; height: 7vh;">
					Templates
				</a>
			</div>
			<div fxLayout="row" fxLayoutAlign="space-between center">
				<a matTooltip="FAQ" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black" (click)="evtEmit.loadFaq()"
					style="cursor: pointer; border-color: #ffffff40; padding-left: 2%; width: 4rem;">
					<img src="/images/Dashboard_1.png" alt="" style="width: 20px; height:20px">

				</a>
				<a matTooltip="Bulk email upload" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black" (click)="evtEmit.laodUpload()"
					style="cursor: pointer; border-color: #ffffff40; padding-left: 2%; width: 4rem">
					<img src="/images/Dashboard_2.png" alt="" style="width: 20px; height:20px">
				</a>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
				<a class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black"
					style="cursor: pointer; border-color: #ffffff40; padding-left: 1%; width: 4rem;">
					<span
						style="width: 2.5rem; height: 2.5rem; padding: 0.6rem 0.8rem; border: 1px solid #21b25b; border-radius: 50%; background-color: #21b25b; color: white;">
						{{user_first_letter}}
					</span>
				</a>
				<div class="dropdown">
					<button class="dropbtn font-semibold text-lg text-center p-2 pt-0 text-gray-600"
						(click)="openDropDown()" style="text-transform: capitalize;">

						{{user_name}}
						<fa name="caret-down" class="down_arrow"></fa>
					</button>
					<div class="dropdown-content text-gray-600" id="#profile">
						<a href="/users/sign_out">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="row banner-sec">
		<div class="row">
			<div class="bg_img"></div>
		</div>
		<div fxLayout="row" class="inner-div text-white">
			<div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="5"></div>
			<div fxFlex.xl="80" fxFlex.lg="80" fxFlex.md="90" class="banner-info">
				<div class="text-left p-6 pb-20">
					<span class="font-bold text-4xl text-white ">
						Bulk Upload
					</span>
				</div>
				<div class="row">
					<div class="bg-white card" style="padding: 2rem 1.5rem 2rem 1.5rem; margin-bottom: 1rem;">
						<div fxLayout="row" fxLayoutAlign="space-between center" class="m-8" *ngIf="!isShowDialog">
							<div fxFlex="5"></div>
							<div fxFlex="90">
								<div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
									<button class="w-40 h-12 mb-4 focus:outline-none"
										style="background-color: #21b25b; color: white; border-radius: 25px; border: 1px solid #21b25b"
										(click)="downLoadSample()" type="button">
										Download Sample
									</button>

									<input style="display: none; cursor: pointer;"
										class="text-white text-base py-2 px-4 rounded m-2 w-48 mb-2" id="readfile"
										type="file" (change)="onFileChange($event)" #fileInput accept=".xlsx"
										multiple="false">

									<button class="w-40 h-12 m-2 mb-2 focus:outline-none"
										style="background-color: #1c2a33; color: white; border-radius: 25px; border: 1px solid #1c2a33"
										(click)="fileInput.click()">
										Upload File
									</button>
									<p class="text-xs text-black">
										(File format supported: xlsx)
									</p>
								</div>
							</div>
							<div fxFlex="5"></div>
						</div>
						<div *ngIf="!isShowEmailModal">
							<div class="w-full">
								<div class="w3-container w-full p-0">
									<div fxLayout="row" fxLayoutAlign="space-between center" class="m-0 p-2">
										<div fxFlex="1"></div>
										<div fxFlex="98">
											<div fxLayout="row" fxLayoutAlign="space-between center">
												<div fxFlex="5" fxLayout="row" fxLayoutAlign="start center">
													<mat-checkbox class="" (change)="loadSelectAll()" [(ngModel)]="chk_all_email" class="text-base text-black">
														All
													</mat-checkbox>
												</div>
												<div fxFlex="25" fxLayout="row" fxLayoutAlign="center center">
													<p class="text-base text-black">
														First Name
													</p>
												</div>
												<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
													<p class="text-base text-black">
														Last Name
													</p>
												</div>
												<div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
													<p class="text-base text-black">
														Email Id
													</p>
												</div>
											</div>
										</div>
										<div fxFlex="1"></div>
									</div>

									<div class="main-inner-div py-4" style="background-color: #e6e6e6;">
										<div fxLayout="row" fxLayoutAlign="space-between center" class="m-2">
											<div fxFlex="1"></div>
											<div fxFlex="98">
												<div class="m-0">
													<div fxLayout="row" fxLayoutAlign="space-between center"
														style="background-color: white" class="p-2" *ngFor="let email of uploadExcelList; index as i">
														<div fxFlex="5" fxLayout="row" fxLayoutAlign="start center">
															<mat-checkbox class="border-r w-full" [(ngModel)]="chk_email[i]">
															</mat-checkbox>
														</div>
														<div fxFlex="25" fxLayout="row" fxLayoutAlign="center center"
															class="border-r">
															<p class="text-base text-black pl-4">
																{{email.first_name}}
															</p>
														</div>
														<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center"
															class="border-r">
															<p class="text-base text-black pl-4">
																{{email.last_name}}
															</p>
														</div>
														<div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
															<p class="text-base text-black pl-4"
																style="word-break: break-all">
																{{email.email_id}}
															</p>
														</div>
													</div>
												</div>
											</div>
											<div fxFlex="1"></div>
										</div>
									</div>
									<div fxLayout="row" fxLayoutAlign="center center" class="mt-4 mb-4">
										<div fxLayout="column">

											<button class="w-40 h-12 mb-4 focus:outline-none"
												style="background-color: #21b25b; color: white; border-radius: 25px; border: 1px solid #21b25b"
												(click)="saveEmailList();" type="button">
												Upload
											</button>
										</div>
										<div fxLayout="column" class="pl-10">
											<input style="display: none; cursor: pointer;"
												class="text-white text-base pt-2 px-4 rounded w-32" id="readfile"
												type="file">

											<button class="w-40 h-12 mb-4 focus:outline-none"
												style="background-color: #1c2a33; color: white; border-radius: 25px; border: 1px solid #1c2a33"
												(click)="loadClear()">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div fxLayout="row" class="py-8 text-black">
					<div fxFlex="70">
						<p class="text-xs text-left m-2" style="margin-left: 0px !important">
							Copyright &copy; 2013-2019 Sun Plus Software Technologies Pvt Ltd. All rights reserved.
						</p>
					</div>
					<div fxFlex="30" class="text-right">
						<a (click)="evtEmit.loadPrivatePolicy()" class="pr-2 pl-2 text-xs"
							style="cursor: pointer; border-right: 1px solid #21b25b;">Cookies & Privacy
						</a>
						<a (click)="evtEmit.loadFaq()" class="pr-2 pl-2 text-xs" style="cursor: pointer;">Help
						</a>
					</div>
				</div>
			</div>
			<div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="5"></div>
		</div>
	</div>
</div>
<div fxLayout="column" style="background: #e6e6e6;" fxHide.xl fxHide.lg fxHide.md fxShow.sm fxShow.xs>
	<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;" id="mySidebar">
		<!-- <button class="w3-bar-item w3-button w3-large" (click)="evtEmit.w3_close()"
			style="text-align: center">{{user_name}} &nbsp; &times;</button>
		<a (click)="evtEmit.loadDashboard()" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">
			Dashboard
		</a> -->
		<span style="float: right;font-size:24px;padding-right:1rem; cursor: pointer;"(click)="evtEmit.w3_close()">&nbsp; &emsp; &nbsp; &nbsp;&times;</span>
		<div class="w3-bar-item w3-button w3-large" 
			style="text-align: center;color: #21b25b;">{{user_name}} </div>
		<a (click)="evtEmit.loadDashboard()" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">
			Dashboard
		</a>
		<a (click)="evtEmit.loadAnalytics()" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">
			Analytics
		</a>
		<a (click)="evtEmit.loadTemplate()" class="w3-bar-item w3-button"
	      style="text-align: center; padding: 0.5rem 2rem;">
	      Template
	    </a>
		<a (click)="evtEmit.loadFaq()" class="w3-bar-item w3-button" style="text-align: center; padding: 0.5rem 2rem;">
			FAQ
		</a>

		<a (click)="evtEmit.laodUpload();" class="w3-bar-item" style="text-align: center; padding: 0.5rem 2rem;">
			Bulk Email Upload
		</a>
		<a href="/users/sign_out" class="w3-bar-item w3-button"
			style="text-align: center; padding: 0.5rem 2rem;">Logout</a>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between center" class="bg-white" style="height: 14vh;">
		<div fxFlex="2"></div>
		<div fxFlex="16">
			<button class="w3-button w3-white w3-xlarge" (click)="evtEmit.w3_open()">&#9776;</button>
		</div>
		<div fxFlex="84" fxLayout="row" fxLayoutAlign="center center">
			<a class="block lg:inline-block lg:mt-0 text-teal-200 hover:text-white" (click)="evtEmit.loadDashboard()"
				style="cursor: pointer;">
				<img class="w-40 h-12" src="/images/Logo_Black.png" alt="">
			</a>
		</div>
		<div fxFlex="2"></div>
	</div>
	<div class="row banner-sec">
		<div class="row">
			<div class="bg_img"></div>
		</div>
		<div fxLayout="row" class="inner-div text-white">
			<div fxFlex.xl="15" fxFlex.lg="15" fxFlex.md="5"></div>
			<div fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="90" class="banner-info">
				<div class="text-center p-6 pb-20">
					<span class="font-bold text-4xl text-white">
						Bulk Upload
					</span>
				</div>
				<div class="row">
						<div fxFlex="5"></div>
						<div fxFlex="90">
					<div class="bg-white card" style="padding: 1rem 0rem 1rem 0rem; margin-bottom: 1rem">
						<div fxLayout="row" fxLayoutAlign="space-between center" class="m-8" *ngIf="!isShowDialog">


								<div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
									<button class="w-40 h-12 mb-4 focus:outline-none"
										style="background-color: #21b25b; color: white; border-radius: 25px; border: 1px solid #21b25b"
										(click)="downLoadSample()" type="button">
										Download Sample
									</button>

									<input style="display: none; cursor: pointer;"
										class="text-white text-base py-2 px-4 rounded m-2 w-48 mb-2" id="readfile"
										type="file" (change)="onFileChange($event)" #fileInput accept=".xlsx"
										multiple="false">

									<button class="w-40 h-12 m-2 mb-2 focus:outline-none"
										style="background-color: #1c2a33; color: white; border-radius: 25px; border: 1px solid #1c2a33"
										(click)="fileInput.click()">
										Upload File
									</button>
									<p class="text-xs text-black">
										(File format supported: xlsx)
									</p>
								</div>

						</div>
						<div *ngIf="!isShowEmailModal">
								<div class="w-full">
									<div class="w3-container w-full" style="padding: 0rem 0.5rem;">
										<div fxLayout="row" fxLayoutAlign="space-between center" class="m-4">
											<div fxFlex="2"></div>
											<div fxFlex="96">
												<div>
													<div fxLayout="row" fxLayoutAlign="space-between center">
														<div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
															<mat-checkbox class="" (change)="loadSelectAll()"
																[(ngModel)]="chk_all_email">
																Select All
															</mat-checkbox>
														</div>
														<div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
															<p class="text-base text-black">Email Id</p>
														</div>
													</div>
												</div>

											</div>
											<div fxFlex="2"></div>
										</div>

										<div class="main-inner-div py-4" style="background-color: #e6e6e6;">
											<div fxLayout="row" fxLayoutAlign="space-between center" class="m-2">
												<div fxFlex="2"></div>
												<div fxFlex="96">
													<div class="mb-2">
														<div fxLayout="row" fxLayoutAlign="space-between center"
															style="background-color: white" class="p-2"
															*ngFor="let email of uploadExcelList; index as i">
															<div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
																<mat-checkbox class="border-r" [(ngModel)]="chk_email[i]">
																</mat-checkbox>
															</div>
															<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
																<p class="text-base text-black"
																	style="word-break: break-all">
																	{{email.email_id}}
																</p>
															</div>
														</div>
													</div>
												</div>
												<div fxFlex="2"></div>
											</div>
										</div>
										<div fxLayout="column" fxLayoutAlign="center center" class="mt-4">
											<div fxLayout="column">

												<button class="w-40 h-12 mb-4 focus:outline-none"
													style="background-color: #21b25b; color: white; border-radius: 25px; border: 1px solid #21b25b"
													(click)="saveEmailList();" type="button">
													Upload
												</button>
											</div>
											<div fxLayout="column">
												<input style="display: none; cursor: pointer;"
													class="text-white text-base pt-2 px-4 rounded w-32" id="readfile"
													type="file">

												<button class="w-40 h-12 mb-4 focus:outline-none"
													style="background-color: #1c2a33; color: white; border-radius: 25px; border: 1px solid #1c2a33"
													(click)="loadClear()">
													Cancel
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
					<div fxFlex="5"></div>
				</div>

				<div fxLayout="column" fxLayoutAlign="center center"
					style="height: 15vh; width: 100vw; margin-bottom: 2rem;">
					<div fxLayout="row" fxLayoutAlign="center center">
						<p class="text-xs text-black text-left m-2 ml-4 mr-4 text-center">
							Copyright &copy; 2013-2019 Sun Plus Software Technologies Pvt Ltd. All right reserved.
						</p>
					</div>
					<div class="text-black" fxLayout="row" fxLayoutAlign="center center">

						<a (click)="evtEmit.loadPrivatePolicy()" class="pr-2 pl-2 text-xs text-black-500;"
							style="cursor: pointer; border-right:1px solid #21b25b">Cookies &
							Privacy</a>
						<a class="pr-2 pl-2 text-xs text-black-500" style="cursor: pointer;">Help</a>
					</div>
				</div>
			</div>
			<div fxFlex.xl="15" fxFlex.lg="15" fxFlex.md="5"></div>
		</div>
	</div>
</div>
