<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <style>
  	body {
  		font-family: 'Lato', sans serif;
  	}
  	.main-head {
  		color: #FFF;
  		text-transform: uppercase;
  		letter-spacing: 6px;
  		font-weight: 600;
  		font-size: 1em;
  		padding: 20px 0px;
  	}
  	.confirm-btn {
  		background-color: #21B25B;
  		color: #FFF;
  		text-decoration: none;
  		text-transform: uppercase;
  		padding: 15px 20px;
  		border-radius: 25px;
  		font-weight: 600;
		cursor: pointer;
  	}
  	.stay {
  		font-size: 14px;
  		padding: 10px;
  	}
  	.social-acc {
		  text-align: center;
		  width: 100%;
		  margin-top: 1em;
		}
		.comp-name {
			margin: 10px;
			font-size:14px;
			font-weight: 600;
		}
		.copy {
			margin: 1.5em;
			font-size:12px;
		}
  </style>
</head>

<body>
	<div>
		<table width="100%">
			<tr>
				<td>
					<table width="100%" style="border:1px solid black;" bgcolor="#1C2A33">
						<tr align="center">
							<td width="100%" align="center">
								<div class="main-head">Universal Feedback Management system</div>
							</td>
						</tr>
					</table>
					<table style="background:#F5F5F5;border:1px solid black;" width="100%">
						<tr>
							<td width="80%" align="center">
								<table width="100%" style="border:0px;">
									<tr style="background-color:#21B25B;" align="center">
										<td style="padding:10px 0;">
											<div><img src="https://i.ibb.co/V2Fx2B8/envelope-of-white-paper.png" width="5%"></div>
										</td>
									</tr>
									<tr style="background-color:#FFF;" align="center">
										<td align="center">
											<h2>Email Confirmation</h2>
											<h3>Welcome <span style="color:#21B25B;"><%= User.find_by_email(@email).first_name.capitalize %></span>!</h3>
											<div style="width:70%;">You can confirm your account email through the link below:</div>
											<div style="width:50%;margin-top:2em;">
												<%= link_to 'Confirm', confirmation_url(@resource, confirmation_token: @token), class: 'confirm-btn' %>
											</div>
											<div style="margin-top:2em;">&nbsp;</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>

						<tr align="center">
							<td align="center" width="60%">
								<div class="stay">Powered by</div>
								<div><img src="https://i.ibb.co/LS569bT/Pollmonk-Finalized-logo.png" width="20%"></div>
								<div class="copy">Copyright © 2013-2019. All rights reserved.</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
