<div class="flex flex-row">
	<div class="w-1/3 h-12"></div>
	<div class="w-1/3 h-12">
		<div class="bg-white shadow-md px-8 pt-6 pb-8 mb-2 mob_device_view" style="height:300px; width: 20vw; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;">
			<div style="text-align:-webkit-center;text-align:-moz-center;">
				<img src="/images/successgif.gif" width="30%" style="margin-bottom: 1rem;" class="mob_device_img">
			</div>

			<div class="verify-head" style="text-align: center;">A verification link has been sent<br>to your email account</div>
			<hr class="lines">
			<div class="verify-content" style="text-align: center;">Please click on the link that has just sent to your email account to verify your email and continue to the survey application.</div>
		</div>
	</div>
	<div class="w-1/3 h-12"></div>
</div>